<a href="https://colab.research.google.com/github/abdurrahmanshidiq/Finance-Analysis/blob/main/5_Python_101_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BUILT-IN FUNCTIONS

In [1]:
# There are many built-in functions that you can leverage directly 
# Let's define 2 lists x and y
x = [4, 5, 1, 2, 8, 5]
y = list(range(1, 7))

In [2]:
x

[4, 5, 1, 2, 8, 5]

In [3]:
y

[1, 2, 3, 4, 5, 6]

In [5]:
# Let's obtain the length of y
len(y)

6

In [6]:
# Let's obtain the minimum value 
min(x)

1

In [7]:
# Let's obtain the maximum value
max(x)

8

In [8]:
# Let's create a tuple out of the list
z = tuple(x)

In [9]:
z

(4, 5, 1, 2, 8, 5)

In [10]:
type(z)

tuple

In [11]:
# Let's obtain the sum of elements in x
sum(x)

25

**MINI CHALLENGE #1:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [15]:
 x = [-1, -4, -7] 
 y = [-3, 7, 4] 

abs(sum(x+y))

4

# 2. FUNCTIONS

In [16]:
# Let's define a function named "my_function" that does not receive any arguments
# The function simply prints out content and does not return anything
def my_function ():
  print('Lord Luhut')

In [18]:
# Function call
my_function()

Lord Luhut

In [19]:
# Define a function that takes in argument x and return the squared value 
def sq (x):
  return x**2

In [20]:
# Call the function
sq(4)

16

In [26]:
# Define a function with default value 
def func (x=20000):
  print('My Portofolio worth is = {}'.format(x))

In [27]:
# If you pass an argument to the function, it overwrites the default value 
func(60000)

My Portofolio worth is = 60000

In [28]:
# If you don't pass an argument, the default value "20000" will be used instead
func()

My Portofolio worth is = 20000

**MINI CHALLENGE #2:** 
- **Write a code that takes in two inputs (number of shares and prices) from the user and calculate the total account balance**

In [30]:
def porto (x,y):
  print(f'Your amount of stock {x}, stock price {y}')
  print('Your Account Balance {}'.format(x*y))

In [31]:
porto(50, 2000)

Your amount of stock 50, stock price 2000
Your Account Balance 100000

# 3. LAMBDA EXPRESSIONS

In [ ]:
# Lambda function is used to create a function without a name 
# Lambda functions are mainly used with filter() and map() [they will be discussed later on]. 
# Lambda function can receive any number of arguments, but can only have one expression.

In [32]:
# let's see how to create a basic function that squares the input
def my_function(x):
    return x**2

In [33]:
# Function call
my_function(3)

9

In [ ]:
# We can do the same task using Lambda expression
# Note that there is no function name

In [34]:
y = lambda x : x**2
y(3)

9

In [35]:
# Note that lambda expression can take in more than one argument 
# there is only one expression that could be performed
def summation(x, y, z):
    return x+y+z

In [36]:
summation(1,2,3)

6

In [37]:
y = lambda x,y,z: x+y+z

In [38]:
y(1,2,3)

6

**MINI CHALLENGE #3:**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [41]:
x = input('Enter amount of shares : ')
y = input('Enter price per share :')

total = lambda x,y: int(x) * int(y)
print('Account balance : {}'.format(total(x,y)))

Enter amount of shares : 21
Enter price per share :7000
Account balance : 147000

# 4. MAP

In [42]:
# The map() function takes in a function and a list.
# map() performs an operation on the entire list and return the results in a new list.
# Define two lists a and b
a = [1, 4, 5, 6, 9]
b = [1, 7, 9, 12, 7]

In [44]:
# Let's define a function that adds two elements together
def summation (a,b):
  return a+b

In [45]:
summation(a,b)

[1, 4, 5, 6, 9, 1, 7, 9, 12, 7]

In [48]:
# You can now use map() to apply a function to the entire list and generate a new list
list(map(summation, a, b))

[2, 11, 14, 18, 16]

In [57]:
# map could be used with Lambda as follows
# lambda function is an anonymous function that take any number of arguments and can only have one expression
inp = [1,2,3,4]

out = list(map(lambda x: x**2, inp))
print(out)

[1, 4, 9, 16]

**MINI CHALLENGE #4:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [62]:
num = range(-10,10)

op = list(map(lambda x : x*x*x, num))
print(list(num))
print(op)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-1000, -729, -512, -343, -216, -125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [64]:
def cubic(x):
    return (x*x*x)

numbers = range(-10, 11)
numbers_cubed = list(map(lambda x: cubic(x), numbers))
print(list(numbers))
print(numbers_cubed)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-1000, -729, -512, -343, -216, -125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# 5. FILTER

In [65]:
# filter is used to create a list of elements for which a function returns "True".
prices = [105, 5055, 40, 356, 923, 1443, 222, 62]

In [66]:
# return only even numbers
out = list(filter( lambda x: (x % 2 == 0) , prices ))
out

[40, 356, 222, 62]

In [70]:
# Return prices that are greater than or equal 100
list(filter(lambda x : (x >= 100), prices))

[105, 5055, 356, 923, 1443, 222]

In [71]:
# Return age between 200 and 250
list(filter(lambda x : (x>=200 and x<=250), prices))

[222]

**MINI CHALLENGE #5:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

In [73]:
up = input('Upper bound : ')
bot = input('Lower bound : ')

range_num = range(int(up), int(bot))
list(filter(lambda x : (x>0) and (x%2==0), range_num))

Upper bound : -10
Lower bound : 6

[2, 4]

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [ ]:
x = [-1, -4, -7]
y = [-3, 7, 4]
z = abs(sum(x+y))
z

4

**MINI CHALLENGE #2: SOLUTION** 
- **Write a code that takes in two inputs (number of units and prices) from the user and calculate the total account balance**

In [ ]:
def total(units, price):
    amount = units * price
    return(amount)

In [ ]:
num_shares = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))
account_balance = total(num_shares, price)

print('Total account balance = {}'.format(account_balance))

Enter the number of shares: 80
Enter the price per share: 5
Total account balance = 400

**MINI CHALLENGE #3 SOLUTION**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [ ]:
num_shares = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))

account_balance = lambda num_shares, price : num_shares * price
print('Total = {}'.format(account_balance(num_shares, price)))

Enter the number of shares: 80
Enter the price per share: 5
Total = 400

**MINI CHALLENGE #4 SOLUTION:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [ ]:
def cubic(x):
    return (x*x*x)

numbers = range(-10, 11)
numbers_cubed = list(map(lambda x: cubic(x), numbers))
print(list(numbers))
print(numbers_cubed)

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

In [ ]:
min = int(input("Enter a number (lower bound) *must be negative* : "))
max = int(input("Enter a number (Upper bound:) "))

numbers = range(min, max)
even_greater_than_zero = list(filter(lambda x: (x > 0 and x%2 == 0), numbers))
print(even_greater_than_zero)