<a href="https://colab.research.google.com/github/abdurrahmanshidiq/Finance-Analysis/blob/main/2_Python_101_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BOOLEANS

In [1]:
# Boolean values can be represented as one of two constant objects "False" and "True". 
# Booleans behave like integers 0 and 1.
True

True

In [2]:
False

False

In [3]:
stock_1 = 100
stock_2 = 200

print(stock_1 == stock_2)

False

**MINI CHALLENGE #1:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [4]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

# 2. LIST

In [5]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.
ls = [1,2,3]
ls

[1, 2, 3]

In [6]:
# Obtain the datatype
type(ls)

list

In [7]:
# list with mixed datatypes (for example you can have strings and integers in one list)
mix = [2, 'GOOG', 5]
mix

[2, 'GOOG', 5]

In [8]:
# You can have a list inside another list (nested list)
nest_ls = ['GOOG', [3,6,7]]
nest_ls

print(nest_ls[0])
print(nest_ls[1])
print(nest_ls[1][0])
print(nest_ls[1][:2])
print(nest_ls[1][-1])

GOOG
[3, 6, 7]
3
[3, 6]
7

In [9]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)
my_list = ["GOOG", [3, 6, 7], ["APPL", 5, 6]]
my_list[0]

'GOOG'

In [10]:
# indexing for nested lists
my_list[2][0]

'APPL'

In [11]:
my_list[2][2]

6

In [12]:
my_list[2]

['APPL', 5, 6]

In [13]:
# Negative Indexing
my_list[-3]

'GOOG'

In [14]:
# List Slicing (getting more than one element from a list) 
my_list = [2, 5, 7, "GOOG", "SP500", "AMZN", 15]

# obtain elements starting from index 3 up to and not including element with index 6  
my_list[3:6]

['GOOG', 'SP500', 'AMZN']

In [15]:
# Obtain elements starting from index 3 to end
my_list[3:]

['GOOG', 'SP500', 'AMZN', 15]

In [16]:
# All elements start to end
my_list[:]

[2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]

In [17]:
# Obtain the length of the list (how many elements in the list) 
len(my_list)

7

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [18]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]

In [19]:
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [20]:
print(stocks[:])
print(stocks[:3])
print(stocks[4:])

['GOOG', 'TSLA', 'AAPL', 'T', 'SP500', 'BTC', 'EUR/USD']
['GOOG', 'TSLA', 'AAPL']
['SP500', 'BTC', 'EUR/USD']

**MINI CHALLENGE #3:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [21]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [22]:
print(my_list[1][1])

GOOG

In [23]:
print(my_list[1])

['AAPL', 'GOOG', 'TSLA']

In [24]:
print(my_list[-1])
print(my_list[3])

T
T

# 3. DICTIONARY

In [25]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs
my_dict = {'key1':'value1',
           'key2':'value2', 
           'key3':'value3'}

In [26]:
# View the dictionary
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [27]:
# Check the data type
type(my_dict)

dict

In [28]:
# Access specific element in the dictionary using a specific key (ex: Key2)
my_dict['key2']

'value2'

In [29]:
# Define a dictionary for a bank client listing all his/her assets! 
client_assets = {'Real estate':150000,
                 'stocks':10000,
                 'savings':20000}
client_assets

{'Real estate': 150000, 'savings': 20000, 'stocks': 10000}

In [30]:
# Access elements in the dictionary
client_assets['stocks']

10000

In [31]:
# Add a new item to an existing dictionary
client_assets['Crypto'] = 1500
print(client_assets)

{'Real estate': 150000, 'stocks': 10000, 'savings': 20000, 'Crypto': 1500}

In [32]:
# remove an item from the dictionary
del client_assets["savings"]
print(client_assets)

{'Real estate': 150000, 'stocks': 10000, 'Crypto': 1500}

In [33]:
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted
del client_assets
# print(client_assets)

**MINI CHALLENGE #4:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [34]:
stocks = {'SP500':3000,
          'AAPL': 400,
          'TSLA': 2200}
stocks

{'AAPL': 400, 'SP500': 3000, 'TSLA': 2200}

# 4. STRINGS

In [35]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes
string = "Hello Everyone and Welcome to Python for finance course!"
string

'Hello Everyone and Welcome to Python for finance course!'

In [36]:
# Obtain the datatype
type(string)

str

In [37]:
# Combining two strings together (Let's combine the first and last name of a bank's client)
first = 'Laila'
last = 'Aly'
print(first+last)

LailaAly

In [38]:
# You can combine both strings together and add spaces in between
print(first + ' ' + last)

Laila Aly

In [39]:
# Methods on strings 
# upper will be used to convert the string into upper case
string.upper()

'HELLO EVERYONE AND WELCOME TO PYTHON FOR FINANCE COURSE!'

In [40]:
# Split us used to divide up the string into words 
# The output from split is a list
str_splt = string.split()
str_splt

['Hello',
 'Everyone',
 'and',
 'Welcome',
 'to',
 'Python',
 'for',
 'finance',
 'course!']

In [41]:
# Let's check that the datatype is list!
type(str_splt)

list

In [42]:
# you can index any element in the list using indexing
str_splt[1]

'Everyone'

In [43]:
# you can specify which letter could be choosed to perform the split
x = 'laila.aly@gmail.com'
x.split('@')

['laila.aly', 'gmail.com']

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [44]:
x = input('Are You satisfied with the service ? : ')
x_split = x.split()
print(f'List of words : {x_split}')

Are You satisfied with the service ? : of course yes
List of words : ['of', 'course', 'yes']

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [45]:
x = input('Enter your Email : ')
email = x.split('@')
name = email[0].split('.')
first = name[0]
last = name[1]

print(f'First Name : {first}')
print(f'Last Name : {last}')

Enter your Email : lord.luhut@gmail.com
First Name : lord
Last Name : luhut

# 5. TUPLES

In [46]:
# A tuple is a sequence of immutable Python objects. 
# Tuples are sequences, just like lists. 
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [47]:
tuple_1 = ('GOOG', 'APPL', 10, 15, 1992)
tuple_2 = (450, 55, 977, 2100)
type(tuple_1)

tuple

In [48]:
tuple_1

('GOOG', 'APPL', 10, 15, 1992)

In [49]:
# Accessing elements in a tuple
tuple_1[1]

'APPL'

In [50]:
# Tuple slicing
tuple_1[1:3]

('APPL', 10)

In [51]:
# Changing a vlue of a tuple does not work! 
# 'tuple' object does not support item assignment
tuple_1[1] = 0

TypeError: ignored

In [52]:
# Create a New Tuple from existing Tuples
tuple_3 = tuple_1 + tuple_2
tuple_3

('GOOG', 'APPL', 10, 15, 1992, 450, 55, 977, 2100)

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [53]:
tup = ('Lord', 'Luhut', '70', '1000')
tup

('Lord', 'Luhut', '70', '1000')

# 6. SETS

In [54]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers

my_set = {'GOOG', 'APPL', 'T'}
my_set

{'APPL', 'GOOG', 'T'}

In [55]:
# set do not have duplicates
my_set = {'GOOG', 'APPL', 'T','TSLA','T','AAPL'}
my_set

{'AAPL', 'APPL', 'GOOG', 'T', 'TSLA'}

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [56]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]

In [57]:
to_set = set(my_list)
to_set

{5, 6, 'AAPL', 'APPL', 'GOOG', 'T', 'TSLA'}

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [58]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Print the first, second and last element in the list**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [59]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [60]:
print(stocks[:])
print(stocks[0:3])
print(stocks[4:])

['GOOG', 'TSLA', 'AAPL', 'T', 'SP500', 'BTC', 'EUR/USD']
['GOOG', 'TSLA', 'AAPL']
['SP500', 'BTC', 'EUR/USD']

**MINI CHALLENGE #3 SOLUTION:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [61]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [62]:
print(my_list[1][1])

GOOG

In [63]:
print(my_list[1])

['AAPL', 'GOOG', 'TSLA']

In [64]:
print(my_list[3])

T

In [65]:
print(my_list[-1])

T

**MINI CHALLENGE #4 SOLUTION:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [66]:
stocks = {"SP500": 3000, 
          "AAPL": 400,
          "TSLA": 2200}
print(stocks)

{'SP500': 3000, 'AAPL': 400, 'TSLA': 2200}

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [67]:
my_string = str(input("What did we do at the bank today? are you satisfied with the service"))
words = my_string.split(" ")
print("Here are the list of words you entered:", words)

What did we do at the bank today? are you satisfied with the serviceyes ofcourse
Here are the list of words you entered: ['yes', 'ofcourse']

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [68]:
input_str = input("Welcome to the bank, please enter your e-mail address:")
out_str = input_str.split('@')
out_str = out_str[0].split('.')
print(out_str[0])

Welcome to the bank, please enter your e-mail address:abc.mmm@cd.com
abc

**MINI CHALLENGE #7 SOLUTION:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [69]:
my_tuple = ("Ryan", "ahmed", 25, 10)
print(my_tuple)

('Ryan', 'ahmed', 25, 10)

In [70]:
len(my_tuple)

4

In [71]:
type(my_tuple)

tuple

**MINI CHALLENGE #8 SOLUTION:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [72]:
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6, 5]
out_list = list(set(my_list))
print(out_list)

[5, 6, 'TSLA', 'APPL', 'GOOG', 'T', 'AAPL']